h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

#show-city {
  font-family: sans-serif;
  text-align: center;
}

.container {
  background-image: url(https://as1.ftcdn.net/v2/jpg/02/11/10/90/1000_F_211109015_iV2AkmiSgDFgsx3cnpTH4l7FyFmWae28.jpg);
}
.day {
  border: 1px solid white;
  border-radius: 40px;
  width: 70px;
  height: 115px;
  text-align: center;
  padding: 15px;
  margin: 10px auto;
  transition: all 200ms ease-in-out;
  display: block;
}

.col-3 {
  text-align: center;
}

.button {
  padding: 10px;
  margin: 0 auto;
  border-radius: 20;
  background-color: aquamarine;
}

.showTemp {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.allIndex {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.date {
  text-align: center;
}

.eiko {
  text-align: center;
}
