body {
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.units {
  text-align: center;
  color: white;
}

#city-input {
  margin: 10px 0 0 25px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #549cb0;
  padding: 5px;
}

.container {
  text-align: centerS;
  border: 1px solid #549cb0;
  border-radius: 5px;
  display: block;
  margin: 40px auto;
  width: 500px;
  height: 700px;
  background-image: url(https://images.pexels.com/photos/3783385/pexels-photo-3783385.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.day {
  border: 1px solid white;
  border-radius: 40px;
  width: 80px;
  height: 120px;
  text-align: center;
  padding: 15px;
  margin: 10px auto;
  display: block;
}

.btn-primary {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #549cb0;
  width: 100px;
  background-color: transparent !important;
  color: white;
  transition: all 200ms ease-in-out;
  display: block;
  margin: 10px 25px 0 0;
}

.btn-primary:hover {
  color: #549cb0;
  background-color: white !important;
  border: 1px solid white;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.showTemp {
  color: white;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.allIndex {
  color: white;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.temperature,
.unit {
  display: inline-block;
  color: white;
  margin-top: 10px;
}

.date {
  color: white;
  text-align: center;
}

.github {
  text-align: center;
  margin: 30px auto;
  border-radius: 20px;
  border: 0.5px solid white;
  background-color: transparent;
  width: 300px;
  font-size: 12px;
  display: block;
  padding: 4px;
  color: white;
}

.git {
  color: white;
}

.eiko {
  color: white;
  text-align: center;
}
